In [15]:
import pandas as pd
youtube=pd.read_csv('/content/youtubedata.txt',sep='\t',names=['V_id','Uploader_of_vid','Interval_b/w_uploading','Category','Length_of_video','No_views','Rating_on_video','No_of_rating','No_of_comments','Related_vid_ids','11','12','13','14','15','16','17','18','19','20','21','22','23'])
dl=youtube.drop(columns=['11','12','13','14','15','16','17','18','19','20','21','22','23'])
display(dl)

             V_id       Uploader_of_vid  ...  No_of_comments Related_vid_ids
0     QuRYeRnAuXM  EvilSquirrelPictures  ...            86.0     gFa1YMEJFag
1     3TYqkBJ9YRk                hggh22  ...             3.0     QuRYeRnAuXM
2     rSJ8QZWBegU               TimeGem  ...             1.0     QuRYeRnAuXM
3     nRcovJn9xHg            wooochacha  ...            73.0     QuRYeRnAuXM
4     UEvVksP91kg              johnx113  ...            16.0     gFa1YMEJFag
...           ...                   ...  ...             ...             ...
4095  esCvu46qDaA                 RSMFD  ...           222.0     8t4m5JM5r6Y
4096  kOZ8bRAO7YQ         RockstarGames  ...          2410.0             NaN
4097  GSsVZcKHues               GTASite  ...          1764.0     TecLbWk8A3w
4098  foKRqJGcbPQ       scrambledeggsTV  ...            37.0     LzI9VyIjpDI
4099  -CYhSNHbeC8               rehab07  ...           220.0     wtVeF5bT6YQ

[4100 rows x 10 columns]

In [19]:
top=dl.sort_values(['Rating_on_video'],ascending=False)
top10=top.head(10)
print("The top 10 rated videos are")
display(top10)

The top 10 rated videos are

             V_id   Uploader_of_vid  ...  No_of_comments Related_vid_ids
1440  7McDe1sdPlU      RemixedKingz  ...             3.0             NaN
3123  Uc-OWFYNry8        athletic46  ...             1.0     -a9eKUhqhgk
3086  _sBRIaZWpXE         theevang1  ...             0.0     u4LpiT6FuHM
3085  hB92X7DIzvc         theevang1  ...            14.0     qanNijlM2t8
3084  cvd-OyHm9lE         theevang1  ...             1.0     xlA5ILetYTY
3083  TE8fKitNOKs         theevang1  ...            11.0     fJPNSzA2alk
3082  4odzrZHgsKI         theevang1  ...             1.0     IVsdOeUFce4
528   rxdvasZiZ2A      Astroranagun  ...             1.0     Ce4panNehRY
529   7Rgz8doVQXg  usethistocomment  ...             3.0             NaN
3081  OVrqKQ54_hI         theevang1  ...             0.0     O0nYg9kR4TE

[10 rows x 10 columns]

In [20]:
most=dl.sort_values(['No_views'],ascending=False)
print("The most viewed Videos are:")
display(most)

The most viewed Videos are:

             V_id  Uploader_of_vid  ...  No_of_comments Related_vid_ids
1109  12Z3J1uzd0Q          kaejane  ...          5508.0     innfyQZHPpo
3880  4DC4Rb9quKk     ChrisBrownTV  ...         50036.0     OqumjziPTzk
3690  LU8DDYz68kM         Jason275  ...         24004.0     VryQDsx5Ad8
1053  kHmvkRoEowc  itschriscrocker  ...        259683.0     h863nXDqCM0
3876  Md6rURKhZmA      TPainVideos  ...         17731.0     Oy-nqyfR_w4
...           ...              ...  ...             ...             ...
2454  NZ2ihzzExeY              NaN  ...             NaN             NaN
3317  9fu9o4N15Lk              NaN  ...             NaN             NaN
3336  drAzE43A9Ns              NaN  ...             NaN             NaN
3488  UMG_tz58Bwc              NaN  ...             NaN             NaN
3492  eCslscr469w              NaN  ...             NaN             NaN

[4100 rows x 10 columns]

In [21]:
dup=dl.pivot_table(index=['Category'], aggfunc='size')
dy=dup.sort_values(ascending=False)
print("The top 5 categories with maximum number of Videos Uploaded")
display(dy.head(5))

The top 5 categories with maximum number of Videos Uploaded

Category
Entertainment      908
Music              862
Comedy             414
People & Blogs     398
News & Politics    333
dtype: int64